#global-engage-header a:focus,
#global-engage-footer a:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}
#global-engage-header a:hover,
#global-engage-footer a:hover,
#global-engage-header a:active,
#global-engage-footer a:active {
    outline: 0
}
#global-engage-header img,
#global-engage-footer img {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic
}
#global-engage-header a,
#global-engage-footer a,
#global-engage-header a:hover,
#global-engage-footer a:hover {
    text-decoration: none
}
#global-engage-header button::-moz-focus-inner,
#global-engage-footer button::-moz-focus-inner,
#global-engage-header input::-moz-focus-inner,
#global-engage-footer input::-moz-focus-inner {
    padding: 0;
    border: 0
}
#global-engage-header ul.unstyled,
#global-engage-footer ul.unstyled {
    margin-left: 0;
    list-style: none
}
.hide {
    display: none
}
#global-engage-header .img-circle,
#global-engage-footer .img-circle {
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px
}
.secondary-nav-wrapper ul.unstyled,
.secondary-nav-wrapper ol.unstyled {
    padding-left: 0;
    list-style: none
}
@font-face {
    font-family: 'ProximaNova';
    src: url('https://fs-static-prod.s3.amazonaws.com/img/fonts/proximanova-reg-webfont-cfeb75f8129a554d73242c7c98954d3b.woff') format('woff'), url('https://fs-static-prod.s3.amazonaws.com/img/fonts/proximanova-reg-webfont-3b561893f35eca6f21a4c078a97e594c.ttf') format('truetype'), url('https://fs-static-prod.s3.amazonaws.com/img/fonts/proximanova-reg-webfont-65549f2904f5bd129f8339fd7b50e8bc.svg#ProximaNovaRgRegular') format('svg');
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: 'ProximaNova';
    src: url('https://fs-static-prod.s3.amazonaws.com/img/fonts/proximanova-bold-webfont-c487c4a5cafd39382ef57b52ef5a53f9.woff') format('woff'), url('https://fs-static-prod.s3.amazonaws.com/img/fonts/proximanova-bold-webfont-f5753ba69b29f552001cc1ce814372fc.ttf') format('truetype'), url('https://fs-static-prod.s3.amazonaws.com/img/fonts/proximanova-bold-webfont-60d30fbbdc64999f54b0d4e07e866960.svg#ProximaNovaRgBold') format('svg');
    font-weight: 700;
    font-style: normal
}
@font-face {
    font-family: 'ProximaNova-SemiBold';
    src: url('https://fs-static-prod.s3.amazonaws.com/img/fonts/proximanova-sbold-webfont-a96ff4477074c6395b7305d2d98fde8e.woff2') format('woff2'), url('https://fs-static-prod.s3.amazonaws.com/img/fonts/proximanova-sbold-webfont-bba11955959ea56cb0c1ae3d3b9b9b2a.woff') format('woff'), url('https://fs-static-prod.s3.amazonaws.com/img/fonts/proximanova-sbold-webfont-fbfe5c8a6f2ad5350380f04fe09ba44f.ttf') format('truetype'), url('https://fs-static-prod.s3.amazonaws.com/img/fonts/proximanova-sbold-webfont-1320fe8cc5d52c6d9d894794ba2b4ddd.svg#proxima_nova_ltsemibold') format('svg');
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: 'museo';
    src: url('https://fs-static-prod.s3.amazonaws.com/img/fonts/museo_slab_500-webfont-7f1d1cd9f496a600a7cbe688a7e854b5.woff') format('woff'), url('https://fs-static-prod.s3.amazonaws.com/img/fonts/museo_slab_500-webfont-3a41a2e84c2ac7ce32e79067e1cb5399.ttf') format('truetype'), url('https://fs-static-prod.s3.amazonaws.com/img/fonts/museo_slab_500-webfont-92bf7225a1859acfee5fbc38bb8fb1a5.svg#museo_slab_500') format('svg');
    font-weight: 700;
    font-style: normal
}
@font-face {
    font-family: 'museo_cyrl';
    src: url('https://fs-static-prod.s3.amazonaws.com/img/fonts/MuseoCyrl_500-webfont-799cdc8b8cd85e151e21d25e8b8ab9cf.woff') format('woff'), url('https://fs-static-prod.s3.amazonaws.com/img/fonts/MuseoCyrl_500-webfont-dab45ee8687b979c05c95ee392b6a147.ttf') format('truetype'), url('https://fs-static-prod.s3.amazonaws.com/img/fonts/MuseoCyrl_500-webfont-fed28a5f16fd802cdd189d82686efb30.svg#museo_cyrl_500regular') format('svg');
    font-style: normal
}
.clearfix {
    *zoom: 1
}
.clearfix:before,
.clearfix:after {
    display: table;
    line-height: 0;
    content: ""
}
.clearfix:after {
    clear: both
}
.hide-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0
}
.input-block-level {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
.dropup,
.dropdown {
    position: relative
}
.dropdown-toggle {
    *margin-bottom: -3px
}
.dropdown-toggle:active,
.open .dropdown-toggle {
    outline: 0
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
    border-top: 4px solid #000;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: ""
}
.dropdown .caret {
    margin-top: 8px;
    margin-left: 2px
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .2);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box
}
.dropdown-menu.pull-right {
    right: 0;
    left: auto
}
.dropdown-menu .divider {
    *width: 100%;
    height: 1px;
    margin: 9px 1px;
    *margin: -5px 0 5px;
    overflow: hidden;
    background-color: #e5e5e5;
    border-bottom: 1px solid #fff
}
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 20px;
    color: #333;
    white-space: nowrap
}
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-submenu:hover>a,
.dropdown-submenu:focus>a,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #08c, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #08c, #0077b3);
    background-image: -o-linear-gradient(top, #08c, #0077b3);
    background-image: linear-gradient(to bottom, #08c, #0077b3);
    background-repeat: repeat-x
}
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
    outline: 0
}
.dropdown-menu>.disabled>a,
.dropdown-menu>.disabled>a:hover,
.dropdown-menu>.disabled>a:focus {
    color: #999
}
.dropdown-menu>.disabled>a:hover,
.dropdown-menu>.disabled>a:focus {
    text-decoration: none;
    cursor: default;
    background-color: transparent;
    background-image: none
}
.open {
    *z-index: 1000
}
.open>.dropdown-menu {
    display: block
}
.pull-right>.dropdown-menu {
    right: 0;
    left: auto
}
.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
    border-top: 0;
    border-bottom: 4px solid #000;
    content: ""
}
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 1px
}
.dropdown-submenu {
    position: relative
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px
}
.dropdown-submenu:hover>.dropdown-menu {
    display: block
}
.dropup .dropdown-submenu>.dropdown-menu {
    top: auto;
    bottom: 0;
    margin-top: 0;
    margin-bottom: -2px;
    -webkit-border-radius: 5px 5px 5px 0;
    -moz-border-radius: 5px 5px 5px 0;
    border-radius: 5px 5px 5px 0
}
.dropdown-submenu>a:after {
    display: block;
    float: right;
    width: 0;
    height: 0;
    margin-top: 5px;
    margin-right: -10px;
    border-color: transparent;
    border-left-color: #ccc;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    content: " "
}
.dropdown-submenu:hover>a:after {
    border-left-color: #fff
}
.dropdown-submenu.pull-left {
    float: none
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px
}
.dropdown .dropdown-menu .nav-header {
    padding-right: 20px;
    padding-left: 20px
}
.typeahead {
    z-index: 1051;
    margin-top: 2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}
.dropdown.hoverIntent.no-hover-intent:hover .dropdown-menu {
    display: block
}
.dropdown.hoverIntent .mover-shim {
    position: absolute;
    width: 100%;
    height: 15px
}
.dropdown.hoverIntent .dropdown-menu {
    margin-top: 8px;
    padding: 0;
    border-radius: 0
}
.dropdown.hoverIntent .dropdown-menu:before {
    position: absolute;
    top: -10px;
    left: 14px;
    display: inline-block;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ccc;
    border-left: 10px solid transparent;
    border-bottom-color: rgba(0, 0, 0, .2);
    content: ''
}
.dropdown.hoverIntent .dropdown-menu:after {
    position: absolute;
    top: -9px;
    left: 15px;
    display: inline-block;
    border-right: 9px solid transparent;
    border-bottom: 9px solid #fff;
    border-left: 9px solid transparent;
    content: ''
}
.dropdown.hoverIntent .dropdown-menu li {
    float: none;
    margin: 0
}
.dropdown.hoverIntent .dropdown-menu li a {
    transition: none;
    -webkit-transition: none;
    padding: 8px 20px;
    font-size: 15px;
    text-decoration: none
}
.dropdown.hoverIntent .dropdown-menu li a:hover {
    background-color: #f2f2f2;
    background-image: none;
    color: #4d4e4e;
    transition: none;
    -webkit-transition: none;
    text-decoration: none
}
html,
body {
    height: 100%
}
body {
    font-family: proximanova, sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #555
}
#main,
#wrapper,
.secondary-nav {
    background: #fff
}
strong,
b {
    font-weight: 400;
    font-family: "proximanova-bold", sans-serif
}
.locale-zh,
.locale-zh body,
.locale-zh body .serif,
.locale-zh #global-engage-header,
.locale-zh #global-engage-footer {
    font-family: "é»‘é«”-ç¹", "Heiti TC", "åŽæ–‡ç»†é»‘", "STXihei", "å¾®è»Ÿæ­£é»‘é«”", "Microsoft JengHei", "ä¸­æ˜“é»‘ä½“", "SimHei", sans-serif
}
.locale-ja,
.locale-ja body,
.locale-ja body .serif,
.locale-ja #global-engage-header,
.locale-ja #global-engage-footer {
    font-family: "ãƒ’ãƒ©ã‚®ãƒŽè§’ã‚´ Pro W3", "Hiragino Kaku Gothic Pro", "ãƒ¡ã‚¤ãƒªã‚ª", "Meiryo", "ï¼­ï¼³ ã‚´ã‚·ãƒƒã‚¯", "MS Gothic", sans-serif
}
.locale-ko,
.locale-ko body,
.locale-ko body .serif,
.locale-ko #global-engage-header,
.locale-ko #global-engage-footer {
    font-family: "Apple SD Gothic Neo", "ì• í”Œê³ ë”•", "AppleGothic", "ë§‘ì€ ê³ ë”•", "Malgun Gothic", "êµ´ë¦¼", "Gulim", sans-serif
}
.locale-ru h1,
.locale-ru h2,
.locale-ru h3,
.locale-ru h4,
.locale-ru h5,
.locale-ru h6 {
    text-rendering: auto;
    font-weight: 500
}
.locale-ru .serif {
    font-family: museo_cyrl, sans-serif
}
.ignore-cjk {
    font-family: proximanova, sans-serif
}
.serif,
.locale-zh .serif.ignore-cjk,
.locale-ja .serif.ignore-cjk,
.locale-ko .serif.ignore-cjk {
    font-family: museo, sans-serif
}
.show-zh,
.show-ja,
.show-ko,
.show-en,
.show-es,
.show-pt,
.show-de,
.show-fr,
.show-it,
.show-ru {
    display: none
}
.locale-zh .show-zh,
.locale-ja .show-ja,
.locale-ko .show-ko,
.locale-en .show-en,
.locale-es .show-es,
.locale-pt .show-pt,
.locale-de .show-de,
.locale-fr .show-fr,
.locale-it .show-it,
.locale-ru .show-ru {
    display: inherit
}
.locale-zh .hide-zh,
.locale-ja .hide-ja,
.locale-ko .hide-ko,
.locale-en .hide-en,
.locale-es .hide-es,
.locale-pt .hide-pt,
.locale-de .hide-de,
.locale-fr .hide-fr,
.locale-it .hide-it,
.locale-ru .hide-ru {
    display: none
}
.cookie-consent {
    background: #777;
    color: #fff;
    font-size: 13px;
    padding: 15px 0;
    position: relative
}
.cookie-consent a {
    color: #fff;
    text-decoration: underline
}
.cookie-consent .close {
    opacity: 1;
    position: absolute;
    top: 10px;
    right: 10px
}
#global-engage-header {
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    box-shadow: 0 5px 0 rgba(0, 0, 0, .1);
    margin-bottom: 5px;
    z-index: 1000;
    position: relative;
    font-family: proximanova, sans-serif;
    font-size: 18px;
    line-height: 25px;
    color: #555
}
.ie8 #global-engage-header {
    border-bottom: 5px solid #e5e5e5
}
#global-engage-header a,
#global-engage-footer a {
    -moz-transition: color .2s, background-color .2s, border-bottom-color .2s;
    -webkit-transition: color .2s, background-color .2s, border-bottom-color .2s;
    -o-transition: color .2s, background-color .2s, border-bottom-color .2s;
    transition: color .2s, background-color .2s, border-bottom-color .2s
}
#global-engage-header .global-pri-nav-container {
    clear: both;
    margin-bottom: 7px;
    position: relative;
    margin-top: 3px
}
#global-engage-header .global-util-nav-container {
    margin-bottom: 0;
    padding-right: 0
}
#global-engage-header .global-util-nav-container .utilities {
    margin-bottom: 0
}
#global-engage-header .global-util-nav-container .utilities a.nav-item {
    color: #707070;
    font-size: 14px;
    line-height: 1em;
    margin-left: 30px;
    margin-top: 7px
}
#global-engage-header .account .header-icon.sign-in.btn-register {
    font-size: 15px;
    padding: 4px 11px;
    display: inline-block;
    font-weight: 400;
    margin-left: 8px;
    margin-top: 0;
    transition: none;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, .75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #fff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #fff, #e6e6e6);
    background-image: -o-linear-gradient(top, #fff, #e6e6e6);
    background-image: linear-gradient(to bottom, #fff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, .1)rgba(0, 0, 0, .1)rgba(0, 0, 0, .25);
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05)
}
.global-alert {
    background-color: #fcf8e3;
    color: #583f12;
    width: 100%;
    z-index: 10;
    position: relative;
    text-align: left
}
.global-alert p {
    padding: 10px;
    vertical-align: middle;
    margin-bottom: 0
}
.global-alert p a {
    color: #476e21;
    font-weight: 700;
    margin-left: 15px
}
.global-alert p a:after {
    border-left: 7px solid #476e21;
    content: '';
    display: inline-block;
    margin-left: 5px;
    width: 0;
    height: 0;
    border-top: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid rgba(0, 0, 0, 0)
}
.global-alert p:before {
    background-image: url('https://edge.fscdn.org/assets/img/icon_alert_exclamation-d49fcdb1929faca3767a2ca98621e7be.png');
    margin-right: 10px;
    margin-left: 10px;
    vertical-align: middle;
    content: '';
    background-size: 100%;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-top: -2px
}
#enableLiHPBanner {
    background-color: #fcf8e3;
    color: #855901
}
#enableLiHPBanner #close-banner {
    width: 25px;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    font-weight: 400;
    text-align: center
}
#enableLiHPBanner #disable-experiment {
    top: 10px;
    font-weight: 700;
    text-align: right
}
#enableLiHPBanner p:before {
    background-image: none;
    width: 0
}
#enableLiHPBanner p a {
    color: #855901
}
#enableLiHPBanner p a:after {
    border-left: 7px solid #855901
}
#enableLiHPBanner p #close-banner:after {
    border-left: 0
}
#cookieConsentModal,
#enableLiHPModal {
    padding: 30px;
    text-align: center;
    width: 500px
}
#cookieConsentModal p.modal-title,
#enableLiHPModal p.modal-title {
    margin-top: 15px;
    font-size: 32px;
    line-height: 1.25;
    font-family: museo, sans-serif
}
#cookieConsentModal p:nth-child(2),
#enableLiHPModal p:nth-child(2) {
    margin-bottom: 45px
}
#cookieConsentModal a.btn-flat-blue,
#enableLiHPModal a.btn-flat-blue {
    color: #fff;
    background-image: none;
    background-color: #4a90e2;
    text-shadow: none;
    border: none
}
#cookieConsentModal a,
#enableLiHPModal a {
    display: block;
    max-width: 180px;
    width: 140px;
    color: #4a90e2;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px
}
#cookieConsentModal a {
    display: inline-block
}
#cookieConsentModal .cookie-consent-modal-link {
    width: 180px;
    vertical-align: middle;
    margin-left: 50px
}
.low-confidence-banner,
.sub-menu {
    display: none
}
.sub-menu {
    padding-top: 10px;
    position: absolute
}
.sub-menu ul {
    margin: 0;
    padding: 0;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .2);
    min-width: 100px;
    position: relative;
    list-style-type: none;
    -webkit-box-shadow: 0 3px 5px -2px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 3px 5px -2px rgba(0, 0, 0, .2);
    box-shadow: 0 3px 5px -2px rgba(0, 0, 0, .2)
}
.sub-menu li {
    width: 100%
}
.sub-menu li a {
    padding: 10px 25px;
    display: block;
    color: #4d4e4e
}
.sub-menu li a,
.locale-zh .sub-menu li a,
.locale-ja .sub-menu li a,
.locale-ko .sub-menu li a {
    white-space: nowrap
}
.sub-menu li a:hover {
    text-decoration: none;
    background: #f2f0ed
}
.show-sub-menu .sub-menu {
    display: block
}
.sub-menu .fs-arrow {
    border-width: 2px!important;
    left: 25%;
    position: absolute;
    top: 0
}
.sub-menu .fs-arrow .fs-arrow-up {
    width: 0;
    height: 0;
    border-bottom-width: 0;
    background: 0 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top-width: 14px;
    bottom: 15px;
    position: absolute;
    left: -22px;
    z-index: 2
}
.sub-menu .fs-arrow .fs-arrow-up:before {
    border-bottom: 15px solid #000
}
.sub-menu .fs-arrow .fs-arrow-up:before,
.sub-menu .fs-arrow .fs-arrow-up:after {
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    top: 0;
    position: absolute;
    margin-bottom: 5px;
    content: " ";
    display: block
}
.sub-menu .fs-arrow .fs-arrow-up:after {
    border-bottom: 15px solid #fff
}
#ldsgh-button a span:after {
    content: 'â–¼';
    font-size: 8px;
    margin-left: 6px
}
div#ldsgh,
div#ldsgh.hide {
    display: none
}
.ie8 div#ldsgh .ldsgh-wrapper {
    width: 940px
}
.ie8 #global-engage-header #church-sites {
    width: 119px
}
.ie8 div#ldsgh {
    display: block
}
.ie8 div#ldsgh #ldsgh-button a {
    background: #fff;
    color: #707070;
    font: 14px/12px proximanova, Helvetica, sans-serif;
    margin: 0 -15px 0 15px;
    right: 0;
    text-transform: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-text-shadow: none;
    -moz-text-shadow: none;
    text-shadow: none
}
.ie8 div#ldsgh .ldsgh-wrapper a:hover {
    text-decoration: underline
}
.ie8 div#ldsgh .ldsgh-wrapper a span {
    background: 0 0;
    filter: none;
    opacity: 1;
    padding: 0
}
#global-engage-header .logo-container {
    float: left;
    margin: 0;
    overflow: hidden;
    top: -18px;
    position: absolute
}
#global-engage-header .logo-container .logo {
    background: url('https://edge.fscdn.org/assets/img/theme-engage/assets/images/tree-logotype-1x-94806fd4d3214ea1ab7ce7eac7310d2c.png') no-repeat;
    display: block;
    width: 164px;
    height: 44px;
    margin: 0;
    text-decoration: none
}
@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    #global-engage-header .logo-container .logo {
        background: url('https://edge.fscdn.org/assets/img/theme-engage/assets/images/tree-logotype-2x-c4c4541694e96e9722f735d50084f1eb.png') no-repeat;
        background-size: contain
    }
}
#global-engage-header .beta-tag {
    top: 7px;
    left: 160px;
    font-size: 12px;
    font-weight: 700;
    color: #666662;
    float: left;
    padding: 5px;
    position: absolute;
    line-height: 1em;
    border-radius: 5px
}
#global-engage-header .utilities {
    float: right;
    margin: 0 0 10px;
    list-style: none
}
#global-engage-header .utilities>li {
    float: left;
    position: relative
}
#global-engage-header .utilities>li.mobile-menu-button {
    display: none
}
#global-engage-header .utilities>li>a {
    display: block;
    color: #666460
}
#global-engage-header .menu .header-icon {
    background: #fff url('https://edge.fscdn.org/assets/img/theme-engage/assets/images/menu-icon-c4904b2228eadc714f3b0acaf26428ba.svg') no-repeat 4px 21px
}
#global-engage-header .account {
    float: right;
    z-index: 10;
    position: relative;
    margin-top: 4px
}
#global-engage-header .account .account-name {
    font-size: 14px;
    padding-top: 12px;
    color: #707070;
    line-height: 1em;
    margin-left: 30px;
    margin-top: 7px
}
#global-engage-header .account .header-icon.sign-in {
    padding-bottom: 2px;
    font-size: 18px
}
#global-engage-header .utility-trigger:after {
    content: 'â–¼';
    font-size: 8px;
    margin-left: 6px
}
#global-engage-header .utility-menu {
    color: #fff;
    display: none;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background: #454545;
    padding: 13px 16px;
    width: 200px;
    margin-left: -42px;
    z-index: 1000;
    right: 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .5);
    box-shadow: 0 4px 6px rgba(0, 0, 0, .5)
}
#global-engage-header .account .utility-menu li {
    float: none;
    margin-left: 0
}
#global-engage-header .account .utility-menu li a:hover {
    text-decoration: underline
}
#global-engage-header .utility-menu.visible {
    opacity: 1;
    display: inherit;
    visibility: visible;
    z-index: 1000
}
#global-engage-header .utility-menu .remoteAssistance {
    position: absolute;
    right: 48px;
    top: 0;
    width: 30px;
    height: 0;
    background: url('https://edge.fscdn.org/assets/img/theme-engage/assets/images/remote-sprite-64054de4adac6aeb45432d56f4873404.png') no-repeat;
    margin-top: 5px
}
#global-engage-header .utility-menu .remoteAssistance:hover {
    background-position: 0 -25px
}
#global-engage-header .utility-menu .close-menu {
    position: absolute;
    right: 15px;
    top: 0
}
#global-engage-header .utility-menu a {
    color: #fff;
    padding: 12px 0;
    display: block
}
#global-engage-header .utility-menu h4 {
    margin: 0 0 10px;
    font-size: 16px;
    font-weight: 700
}
#global-engage-header .utility-menu.double-wide {
    width: 530px;
    margin-left: -454px
}
#global-engage-header .utility-menu .helpMenuContainer {
    display: none
}
#global-engage-header .utility-menu .helpMenuContent {
    background-color: #fff;
    padding: 16px;
    color: #000;
    height: 240px;
    overflow: auto;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px
}
#global-engage-header .utility-menu .helpMenuContainer a {
    color: #08c;
    padding: 0
}
#global-engage-header .menu-arrow-up {
    position: absolute;
    top: -10px;
    left: 0
}
#global-engage-header .resources .menu-arrow-up {
    margin-left: 156px
}
#global-engage-header .help .menu-arrow-up {
    margin-left: 290px
}
#global-engage-header .account .menu-arrow-up {
    margin-left: 126px
}
#global-engage-header .utility-menu .menu-icon {
    padding-left: 28px;
    text-decoration: none;
    background: url('https://edge.fscdn.org/assets/img/theme-engage/assets/images/help-flyout-sprite-ad0926816b699660d26bdf53a36798e8.png') -5px 5px no-repeat
}
#global-engage-header .utility-menu .menu-icon.phone {
    background-position: -5px -76px
}
#global-engage-header .utility-menu .menu-icon.building {
    background-position: -5px -155px
}
#global-engage-header .utility-menu .menu-icon.help-center {
    background-position: -5px -234px
}
#global-engage-header .utility-menu .menu-icon.envelope {
    background-position: -5px -316px
}
#global-engage-header .utility-menu ul.unstyled {
    padding: 0;
    margin: 0
}
#global-engage-header .utility-menu div.helpMenuContainer div.helpMenuContent p {
    margin: 0
}
#global-engage-header #helpAndLearnContainer-link {
    padding-bottom: 17px;
    margin-bottom: 10px;
    border-bottom: 1px solid #666
}
#helpAndLearnContainer li {
    padding: 4px 0
}
#global-engage-header nav ul.main-nav {
    margin: 0
}
#global-engage-header nav ul.main-nav>li {
    float: left;
    margin-left: 6px
}
#global-engage-header .main-nav-wrapper {
    position: relative;
    left: 50%;
    float: left;
    z-index: 1
}
#global-engage-header .main-nav {
    position: relative;
    left: -50%;
    float: left
}
#global-engage-header .main-nav-wrapper.l10n-de {
    left: 43%
}
#global-engage-header .main-nav-wrapper.l10n-es {
    left: 47%
}
#global-engage-header .main-nav-wrapper.l10n-fr,
#global-engage-header .main-nav-wrapper.l10n-pt,
#global-engage-header .main-nav-wrapper.l10n-ru {
    left: 44%
}
#global-engage-header nav a.nav-item,
#global-engage-header nav a.nav-item:visited {
    color: #4d4e4e;
    padding: 5px 9px;
    display: block;
    line-height: 1em;
    border-radius: 5px
}
#global-engage-header nav a.nav-item:hover,
#global-engage-header nav a.nav-item:active,
#global-engage-header nav .active a.nav-item {
    background: #e1ecc3;
    text-decoration: none
}
.caseLink {
    display: block
}
#global-engage-footer {
    background: #fff;
    font-family: proximanova, sans-serif;
    font-size: 18px;
    line-height: 25px;
    margin: 0 auto;
    min-height: 30px;
    padding: 20px 0;
    position: relative
}
#global-engage-footer .row-fluid {
    margin: 0 auto;
    max-width: 980px;
    position: relative
}
#global-engage-footer nav {
    margin-bottom: 24px
}
#global-engage-footer nav a {
    color: #777;
    font-size: 14px;
    line-height: 19px;
    margin-right: 34px
}
#global-engage-footer nav a.last {
    margin-right: 0
}
#global-engage-footer nav a:hover {
    text-decoration: underline;
    color: #444
}
#global-engage-footer .moreover {
    text-align: right
}
#global-engage-footer .copyright_notice {
    color: #777;
    font-size: 12px;
    line-height: 16px
}
#global-engage-footer .copyright_notice .privacy_usage {
    display: block
}
#global-engage-footer .copyright_notice a {
    color: #1a1a1a
}
#global-engage-footer .copyright_notice a:hover {
    color: #000
}
#global-engage-footer .language-picker-container {
    display: inline-block;
    position: relative
}
#global-engage-footer .language-picker-trigger {
    background: url('https://edge.fscdn.org/assets/img/theme-engage/assets/images/globe-icon-98b810075f10ff07efed887bfeb21996.png') top left no-repeat;
    padding-left: 24px;
    padding-bottom: 1px
}
#global-engage-footer .language-picker-trigger:after {
    content: '\25B2';
    font-size: 8px;
    margin-left: 6px
}
#global-engage-footer .service-by-link a {
    white-space: nowrap
}
#global-engage-footer .language-picker-menu {
    background-color: #4d4d4d;
    box-shadow: 0 0 13px rgba(0, 0, 0, .25);
    bottom: 38px;
    display: none;
    left: 50%;
    margin-left: -132px;
    position: absolute;
    width: 265px;
    z-index: 9999
}
#global-engage-footer .language-picker-menu.visible {
    display: block
}
#global-engage-footer .language-picker-menu .lang-list {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center
}
#global-engage-footer .language-picker-menu .lang-list li {
    border-bottom: 1px solid #000;
    border-top: 1px solid #666;
    float: left
}
#global-engage-footer .language-picker-menu .lang-list li a {
    color: #fff;
    display: block;
    float: left;
    font-size: 14px;
    line-height: 19px;
    margin-right: 0;
    padding: 15px 0;
    width: 132px
}
#global-engage-footer .language-picker-menu .lang-list li a.active {
    color: #999;
    cursor: default
}
#global-engage-footer .language-picker-menu .extra-langs {
    background-color: #fff
}
#global-engage-footer .language-picker-menu .extra-langs li {
    border-bottom: 1px solid #d9d9d9;
    border-top: 0
}
#global-engage-footer .language-picker-menu .extra-langs li a {
    color: #4d4a45
}
#global-engage-footer .language-picker-menu .extra-langs li.heading {
    padding: 15px 0;
    width: 100%
}
#global-engage-footer .language-picker-menu .extra-langs li.empty a {
    height: 19px
}
.extra-lang-modal {
    text-align: center;
    max-width: 370px;
    height: auto;
    padding-bottom: 20px
}
.extra-lang-modal h3 {
    font-size: 22px;
    font-weight: 700
}
.extra-lang-modal .close {
    position: absolute;
    top: 5px;
    right: 5px
}
#global-engage-footer nav,
#global-engage-footer .copyright_notice {
    margin-right: 170px
}
#global-engage-footer .church-logo-container {
    bottom: 0;
    position: absolute;
    right: 20px;
    top: 0;
    width: 137px
}
#global-engage-footer .church-logo {
    background-position: center center;
    background-repeat: no-repeat;
    height: 62px;
    margin-top: -31px;
    position: absolute;
    top: 50%;
    width: 100%
}
.church-logo.locale-de {
    background-image: url('https://edge.fscdn.org/assets/img/theme-engage/assets/images/lds-logo_de-9db58a7e56bc28f70edac4d97366b582.png')
}
.church-logo.locale-en {
    background-image: url('https://edge.fscdn.org/assets/img/theme-engage/assets/images/lds-logo_en-c8c3fdecd4244af1309a7107c63ea112.png')
}
.church-logo.locale-es {
    background-image: url('https://edge.fscdn.org/assets/img/theme-engage/assets/images/lds-logo_es-79e13f6461de44539bbe5be3efb1c094.png')
}
.church-logo.locale-fr {
    background-image: url('https://edge.fscdn.org/assets/img/theme-engage/assets/images/lds-logo_fr-1e68413d75397f37e8e77e59a6fdfb96.png')
}
.church-logo.locale-it {
    background-image: url('https://edge.fscdn.org/assets/img/theme-engage/assets/images/lds-logo_it-9c407ab03bcf04d97e68aa6052f53cc2.png')
}
.church-logo.locale-ja {
    background-image: url('https://edge.fscdn.org/assets/img/theme-engage/assets/images/lds-logo_ja-2dc3322b949bf1f60788af6b1b86b608.png')
}
.church-logo.locale-ko {
    background-image: url('https://edge.fscdn.org/assets/img/theme-engage/assets/images/lds-logo_ko-ee0f20f50ccedc21581ea772ce1863df.png')
}
.church-logo.locale-pt {
    background-image: url('https://edge.fscdn.org/assets/img/theme-engage/assets/images/lds-logo_pt-2ff22ffe211966bbda552a95b6c074f6.png')
}
.church-logo.locale-ru {
    background-image: url('https://edge.fscdn.org/assets/img/theme-engage/assets/images/lds-logo_ru-9780803f31b1480f19046317d2483e09.png')
}
.church-logo.locale-zh {
    background-image: url('https://edge.fscdn.org/assets/img/theme-engage/assets/images/lds-logo_zh-c8a469e9db615d51212b2a386ef7e9a0.png')
}
#global-engage-footer .church-logo.powered-logo {
    background-image: url('https://edge.fscdn.org/assets/img/cobranding/powerByLogo-a6c4afd3df56489164c905c474df731e.png');
    width: 234px;
    height: 43px
}
#global-engage-footer .minimalFooter {
    display: none
}
.enable-minimal-footer #global-engage-footer {
    background: 0 0;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    width: auto
}
.enable-minimal-footer #global-engage-footer .row-fluid,
.enable-minimal-footer #global-engage-footer .church-logo-container {
    display: none!important
}
.enable-minimal-footer #global-engage-footer .language-picker-menu {
    right: 0;
    left: auto;
    bottom: 14px
}
.enable-minimal-footer #global-engage-footer .minimalFooter {
    background-color: #fff;
    border: 1px solid;
    display: block;
    float: right;
    font-size: 12px;
    line-height: 19px;
    padding: 5px 10px;
    color: #777
}
.enable-minimal-footer #global-engage-footer .minimalFooter a {
    color: #777;
    font-size: 14px
}
.enable-minimal-footer #global-engage-footer .minimalFooter>a:before,
.enable-minimal-footer #global-engage-footer .minimalFooter>div:before {
    border-left: 1px solid;
    content: " ";
    display: inline-block;
    height: 17px;
    margin: 0 10px;
    vertical-align: middle
}
.enable-minimal-footer #global-engage-footer .minimalFooter>span {
    display: none
}
#main {
    padding: 0
}
#wrapper {
    min-height: 100%;
    height: auto;
    margin-bottom: -131px
}
#wrapper.nonreponsive {
    width: 980px
}
#wrapper.container.full-width {
    width: 100%;
    background: #fff
}
#wrapper.container.full-width #global-engage-header .global-util-nav-container,
#wrapper.container.full-width #global-engage-header .global-pri-nav-container,
.wrapper.pure-g-r {
    max-width: 1170px;
    margin: 0 auto 7px
}
#push {
    height: 131px
}
.secondary-nav {
    margin: 0;
    clear: both
}
.secondary-nav li {
    float: left
}
.secondary-nav a,
.secondary-nav a:visited {
    color: #666460;
    padding: 7px;
    margin: 10px 20px 10px 0;
    display: block;
    border-radius: 5px;
    border: none
}
.secondary-nav a:hover,
.secondary-nav a:active {
    text-decoration: none;
    background: #e1ecc3
}
.secondary-nav a.active {
    border: none;
    background: #e1ecc3
}
.bg-grey .secondary-nav a.active {
    background: #fff;
    border: 1px solid #ccc
}
.bg-grey .secondary-nav,
#wrapper.bg-grey,
.bg-grey #main {
    background: #eee
}
.bg-grey #main {
    padding: 20px
}
.bg-grey .secondary-nav {
    border-bottom: 1px solid #ccc
}
.bg-grey .secondary-nav a {
    color: #666460;
    padding: 7px;
    margin: 10px 0 10px 20px;
    display: block;
    border-radius: 5px;
    border: 1px solid #eee
}
.bg-grey .secondary-nav a:hover {
    background: #fff
}
#register-divider {
    padding-left: 3px;
    margin-right: -27px
}
.templeInfoChecked,
.templeInfoCheckedMobile {
    display: none
}
.account {
    white-space: nowrap
}
.account .signedin {
    max-width: 150px;
    text-overflow: ellipsis;
    overflow: hidden
}
@media print {
    .cookie-consent {
        display: none
    }
}
.cookie-consent-link {
    display: inline-block
}
.admin-roles-list li a strong {
    text-decoration: none;
    font-family: proximanova;
    font-weight: 500;
    color: gray;
    font-size: 12px;
    margin-right: 10px
}
#global-engage-header .admin-roles-list li a:hover,
#global-engage-header .admin-roles-list li a.active {
    color: #ff9873;
    text-decoration: none
}
#global-engage-header .admin-roles-list li a.loader {
    color: #ff9873;
    text-align: center
}
#global-engage-header .admin-roles-list li a:hover strong,
#global-engage-header .admin-roles-list li a.active strong {
    color: #f15a24;
    text-decoration: none
}
#global-engage-header .admin-role {
    color: #ffd9cc;
    float: left;
    font-weight: 500;
    font-family: proximanova;
    font-size: 14px;
    margin: 0 0 0 30px;
    padding: 7px 5px 5px;
    line-height: 1em;
    background: #f15a24;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px
}
#global-engage-header .admin-role strong {
    margin-left: 5px;
    color: #fff
}
body {
    right: 0
}