html,
body {
    margin: 0;
    padding: 0
}
#wrapper {
    min-height: 100%;
    height: auto;
    margin-bottom: -131px;
    width: 940px;
    margin-left: auto;
    margin-right: auto
}
@media (min-width: 1200px) {
    #wrapper {
        width: 1170px
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    #wrapper {
        width: 724px
    }
}
@media (max-width: 767px) {
    #wrapper {
        width: auto
    }
}
#global-engage-header.visible-phone,
#global-engage-footer.visible-phone,
#global-engage-header .visible-phone,
#global-engage-footer .visible-phone {
    display: none!important
}
@media (max-width: 767px) {
    #global-engage-header.visible-phone,
    #global-engage-footer.visible-phone,
    #global-engage-header .visible-phone,
    #global-engage-footer .visible-phone {
        display: inherit!important
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    #global-engage-header.hidden-tablet,
    #global-engage-footer.hidden-tablet,
    #global-engage-header .hidden-tablet,
    #global-engage-footer .hidden-tablet {
        display: none!important
    }
}
@media (max-width: 767px) {
    #global-engage-header.hidden-phone,
    #global-engage-footer.hidden-phone,
    #global-engage-header .hidden-phone,
    #global-engage-footer .hidden-phone {
        display: none!important
    }
}
#global-engage-header.visible-tablet,
#global-engage-footer.visible-tablet,
#global-engage-header .visible-tablet,
#global-engage-footer .visible-tablet {
    display: none!important
}
@media (min-width: 768px) and (max-width: 979px) {
    #global-engage-header.visible-tablet,
    #global-engage-footer.visible-tablet,
    #global-engage-header .visible-tablet,
    #global-engage-footer .visible-tablet {
        display: inherit!important
    }
}
#global-engage-header.hidden-desktop,
#global-engage-footer.hidden-desktop,
#global-engage-header .hidden-desktop,
#global-engage-footer .hidden-desktop {
    display: none!important
}
@media (min-width: 768px) and (max-width: 979px) {
    #global-engage-header.hidden-desktop,
    #global-engage-footer.hidden-desktop,
    #global-engage-header .hidden-desktop,
    #global-engage-footer .hidden-desktop {
        display: inherit!important
    }
}
@media (max-width: 767px) {
    #global-engage-header.hidden-desktop,
    #global-engage-footer.hidden-desktop,
    #global-engage-header .hidden-desktop,
    #global-engage-footer .hidden-desktop {
        display: inherit!important
    }
}
#global-engage-header.visible-desktop,
#global-engage-footer.visible-desktop,
#global-engage-header .visible-desktop,
#global-engage-footer .visible-desktop {
    display: inherit!important
}
@media (min-width: 768px) and (max-width: 979px) {
    #global-engage-header.visible-desktop,
    #global-engage-footer.visible-desktop,
    #global-engage-header .visible-desktop,
    #global-engage-footer .visible-desktop {
        display: none!important
    }
}
@media (max-width: 767px) {
    #global-engage-header.visible-desktop,
    #global-engage-footer.visible-desktop,
    #global-engage-header .visible-desktop,
    #global-engage-footer .visible-desktop {
        display: none!important
    }
}
@media (min-width: 1200px) {
    div#ldsgh .ldsgh-wrapper {
        width: 1170px
    }
    #global-engage-footer .church-logo {
        position: absolute;
        right: 0
    }
}
@media (max-width: 1199px) {
    .account {
        white-space: nowrap
    }
    .account .signedin {
        width: 12ch;
        text-overflow: ellipsis;
        overflow: hidden
    }
}
@media (min-width: 980px) and (max-width: 1199px) {
    div#ldsgh .ldsgh-wrapper {
        width: 940px
    }
    #global-engage-footer .row-fluid {
        max-width: 860px
    }
    #global-engage-footer .service-by-link {
        display: none
    }
    #global-engage-footer .church-logo {
        position: absolute;
        right: 20px
    }
    #global-engage-header nav .l10n-de ul.main-nav>li .nav-item,
    #global-engage-header nav .l10n-ru ul.main-nav>li {
        margin-left: -2px;
        font-size: 16px
    }
}
@media (min-width: 980px) {
    #global-engage-header .global-util-nav-container,
    #global-engage-header .global-pri-nav-container {
        margin-bottom: 10px
    }
    #global-engage-header #church-sites {
        width: 119px
    }
    div#ldsgh {
        display: block
    }
    div#ldsgh #ldsgh-button a {
        background: #fff;
        color: #707070;
        font-family: proximanova;
        font-size: 14px;
        margin: 0 -15px 0 15px;
        right: 0;
        text-transform: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        -webkit-text-shadow: none;
        -moz-text-shadow: none;
        text-shadow: none
    }
    div#ldsgh .ldsgh-wrapper a:hover {
        text-decoration: underline
    }
    div#ldsgh .ldsgh-wrapper a span {
        background: 0 0;
        opacity: 1;
        padding: 0
    }
    #global-engage-header nav li {
        margin-top: 0
    }
    #global-engage-header nav a.nav-item {
        padding: 7px 9px
    }
    #global-engage-header .account .header-icon.sign-in {
        color: #4d4e4e
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    #global-engage-header {
        font-size: 16px
    }
    #global-engage-header .logo-container {
        top: 3px
    }
    #global-engage-header .logo-container .logo {
        height: 43px;
        background-size: 94%
    }
    #global-engage-header .beta-tag {
        top: -16px
    }
    .locale-it #global-engage-header .beta-tag,
    .locale-ru #global-engage-header .beta-tag,
    .locale-es #global-engage-header .beta-tag,
    .locale-de #global-engage-header .beta-tag,
    .locale-ko #global-engage-header .beta-tag,
    .locale-fr #global-engage-header .beta-tag,
    .locale-pt #global-engage-header .beta-tag,
    .locale-zh #global-engage-header .beta-tag,
    .locale-ja #global-engage-header .beta-tag {
        left: 140px
    }
}
@media (max-width: 979px) {
    body {
        padding-right: 10px;
        padding-left: 10px;
        overflow-x: hidden;
        right: 0;
        position: relative;
        transition: right ease-in-out 200ms
    }
    #global-engage-header .logo-container {
        top: 6px;
        position: relative
    }
    #global-engage-header nav {
        visibility: hidden;
        opacity: 0
    }
    #global-engage-header nav.visible {
        opacity: 1;
        visibility: visible;
        z-index: 1000
    }
    #global-engage-header nav ul {
        background: #4d4d4d
    }
    #global-engage-header nav li {
        float: none
    }
    #global-engage-header .utility-menu,
    #global-engage-header .utility-menu.double-wide {
        top: 56px
    }
    #global-engage-header .utility-menu,
    #global-engage-header .utility-menu.double-wide,
    #global-engage-header nav {
        color: #fff;
        position: absolute;
        left: 0;
        width: 100%;
        margin-left: 0;
        padding: 0;
        -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .5);
        -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .5);
        box-shadow: 0 4px 6px rgba(0, 0, 0, .5);
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        -webkit-transition: none;
        -moz-transition: none;
        transition: none
    }
    #global-engage-header .menu-arrow-up {
        display: none
    }
    #global-engage-header .utility-menu.visible {
        position: relative;
        top: auto;
        width: auto;
        box-shadow: none;
        margin: 0;
        line-height: 1em
    }
    #global-engage-header .utility-menu a {
        font-size: 14px;
        color: #fff;
        text-decoration: none;
        padding: 9px 9px 9px 26px;
        border-top: 1px solid #3a3a3a
    }
    #global-engage-header .utility-menu a:hover {
        background: #555
    }
    #global-engage-header .main-nav-wrapper,
    #global-engage-header .main-nav {
        position: relative;
        left: auto;
        float: none;
        margin: 0
    }
    #global-engage-header .main-nav li {
        margin-left: 0;
        border-top: 1px solid #535353;
        border-bottom: 1px solid #3a3a3a
    }
    #global-engage-header nav {
        top: 42px
    }
    #global-engage-header nav a.nav-item,
    #global-engage-header nav a.nav-item:visited {
        color: #fff;
        padding: 9px
    }
    #global-engage-header nav a.nav-item:hover {
        background: #555
    }
    #global-engage-header nav .active a.nav-item,
    #global-engage-header nav .active a.nav-item:visited {
        background: #444
    }
    #global-engage-header nav .active a.nav-item:hover {
        background: #555
    }
    #global-engage-footer nav,
    #global-engage-footer .copyright_notice {
        margin-right: 0;
        text-align: center
    }
    #global-engage-footer .moreover {
        text-align: left
    }
    #global-engage-header .global-util-nav-container {
        float: right;
        background: #fff;
        margin-bottom: 0;
        padding-right: 0;
        z-index: 10;
        position: relative
    }
    #global-engage-header .global-pri-nav-container {
        clear: none;
        margin-bottom: 15px;
        position: relative;
        margin-top: 16px;
        float: none;
        width: 100%
    }
    #global-engage-header .logo-container .logo {
        height: 43px;
        background-size: 88%
    }
    #global-engage-header .beta-tag {
        top: 9px;
        left: 138px
    }
    #global-engage-header .utilities {
        margin-top: 10px
    }
    #global-engage-header .utilities>li {
        position: static
    }
    #global-engage-header .utilities .header-icon {
        text-indent: -9999px;
        padding: 2px;
        margin: 0 4px;
        background-position: 50% 50%!important
    }
    #global-engage-header .utility-trigger:after {
        content: 'â–¼';
        color: #fff
    }
    #global-engage-header .secondary-nav li {
        float: left;
        width: 33.33%
    }
    #global-engage-header .account {
        float: none;
        border-bottom: 1px solid #3a3a3a;
        background: #4d4d4d
    }
    #global-engage-header .account .account-name {
        display: block;
        font-size: inherit;
        padding: 9px;
        color: #fff;
        line-height: 1em;
        margin: 0;
        text-decoration: none;
        background: #4d4d4d
    }
    #global-engage-header .account-name:hover {
        background: #555
    }
    #global-engage-header .account .header-icon.sign-in {
        background: 0 0;
        margin: 0;
        padding: 9px
    }
    #global-engage-header .account .sign-in:hover {
        background: #555
    }
    #global-engage-header .utilities .header-icon {
        height: 15px;
        margin-top: 13px;
        width: 15px
    }
    #register-divider {
        display: none
    }
    .low-confidence-member {
        width: calc(100% + 20px);
        margin-left: -10px;
        margin-right: -10px
    }
}
@media (max-width: 767px) {
    #global-engage-header .global-pri-nav-container {
        margin-bottom: 8px;
        margin-top: 9px
    }
    #global-engage-header .secondary-nav li {
        float: left;
        width: 50%
    }
    #global-engage-header .logo-container {
        top: 6px
    }
    #global-engage-header .logo-container .logo {
        height: 43px;
        background-size: 88%
    }
    #global-engage-header .beta-tag {
        top: 9px;
        left: 138px
    }
    #global-engage-header .utilities .header-icon {
        margin-top: 4px
    }
    #register-divider {
        display: none
    }
}
@media (max-width: 670px) {
    .global-alert p a {
        margin-left: 30px
    }
}
@media (max-width: 550px) {
    .global-alert span {
        display: block;
        margin-left: 30px
    }
}
@media (max-width: 979px) {
    body.mobile-drawer {
        right: 260px;
        height: 100%;
        overflow: hidden
    }
    body.mobile-drawer footer {
        display: none
    }
}
#global-engage-header .mobile-nav {
    -webkit-overflow-scrolling: touch;
    position: fixed;
    right: -260px;
    overflow-y: scroll;
    width: 260px;
    top: 0;
    bottom: 0;
    background: #4d4d4d;
    height: 100%;
    border-left: 5px solid rgba(26, 26, 26, .3);
    visibility: visible;
    transition: right ease-in-out 200ms
}
body.mobile-drawer #global-engage-header .mobile-nav {
    right: 0
}
#global-engage-header .mobile-nav section {
    margin: 0;
    font-size: 16px
}
#global-engage-header .mobile-nav section header {
    background: #2e2d2a;
    height: 20px;
    padding: 5px;
    font-size: 16px;
    line-height: 19.2px;
    color: rgba(255, 255, 255, .5);
    font-family: proximanova
}
#global-engage-header .mobile-nav section.account ul li a {
    color: rgba(255, 255, 255, .5);
    font-size: 14px
}
#global-engage-header .mobile-nav section.family-search,
#global-engage-header .mobile-nav section.languages {
    font-size: 14px
}
#global-engage-header .mobile-nav section.rights-use {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 11px;
    line-height: 20px;
    color: rgba(255, 255, 255, .5)
}
#global-engage-header .mobile-nav section.rights-use a {
    color: #cdcccb
}
#global-engage-header .mobile-nav section.account .account {
    margin-top: 0;
    border-bottom: none;
    font-size: 11px;
    color: #cdcccb
}
#global-engage-header .mobile-nav section.account ul.account {
    overflow: hidden
}
#global-engage-header .mobile-nav section.account .sign-in,
#global-engage-header .mobile-nav section.account .sign-out {
    margin: 10px 0 10px 10px;
    border: none;
    padding: 5px 15px;
    font-weight: 400;
    color: #fff;
    font-size: 14px;
    background: #4987c6;
    display: inline-block;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
    -webkit-text-shadow: none;
    -moz-text-shadow: none;
    text-shadow: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px
}
#global-engage-header .mobile-nav section.account li.user-info {
    height: 50px;
    position: relative
}
#global-engage-header .mobile-nav section.account li.user-info .account-name {
    font-weight: 200;
    color: #fff;
    font-size: 14px;
    float: left;
    display: inline-block;
    margin-top: 20px;
    padding: 0;
    margin-left: 20px;
    background: inherit
}
#global-engage-header .mobile-nav section.account li.user-info .sign-out {
    float: right;
    margin-right: 10px
}
#global-engage-header .mobile-nav ul.main-nav,
#global-engage-header .mobile-nav ul.extra-langs,
#global-engage-header .mobile-nav ul.account {
    margin: 0;
    padding: 0
}
#global-engage-header .mobile-nav ul.main-nav li,
#global-engage-header .mobile-nav ul.extra-langs li,
#global-engage-header .mobile-nav ul.account li {
    float: left;
    width: 100%;
    border-top: none;
    border-bottom: none;
    margin-left: 0
}
#global-engage-header .mobile-nav ul.main-nav li:last-child:after,
#global-engage-header .mobile-nav ul.extra-langs li:last-child:after,
#global-engage-header .mobile-nav ul.account li:last-child:after {
    display: none
}
#global-engage-header .mobile-nav ul.main-nav li:after,
#global-engage-header .mobile-nav ul.extra-langs li:after,
#global-engage-header .mobile-nav ul.account li:after {
    border-top: 1px solid rgba(255, 255, 255, .2);
    content: "";
    display: block;
    margin-left: 20px
}
#global-engage-header .mobile-nav ul.main-nav li a,
#global-engage-header .mobile-nav ul.extra-langs li a,
#global-engage-header .mobile-nav ul.account li a {
    font-family: proximanova;
    color: #fff;
    padding-left: 20px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}
#global-engage-header .mobile-nav .phone-and-country .phone-number {
    text-align: left;
    font-size: 16px;
    font-weight: 600
}
#global-engage-header .mobile-nav .phone-and-country .country {
    float: right;
    font-size: 10px
}
#global-engage-header .mobile-nav ul.lang-list {
    overflow: hidden;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    list-style: none
}
#global-engage-header .mobile-nav ul.lang-list li {
    float: left;
    width: 50%;
    text-align: center
}
#global-engage-header .mobile-nav ul.lang-list li .active {
    color: rgba(255, 255, 255, .2)
}
#global-engage-header .mobile-nav ul.lang-list li:after {
    margin-left: 0
}
#global-engage-header .mobile-nav ul.lang-list li.last:after {
    display: none
}
#global-engage-header .mobile-nav ul.lang-list.extra-langs {
    background: #fff
}
#global-engage-header .mobile-nav ul.lang-list.extra-langs li {
    color: #999
}
#global-engage-header .mobile-nav ul.lang-list.extra-langs li a {
    color: #4d4a45
}
#global-engage-header .mobile-nav ul.lang-list.extra-langs li a:hover {
    background: #ddd
}
#global-engage-header .mobile-nav ul.lang-list.extra-langs li:after {
    border-color: #d9d9d9
}
#global-engage-header .mobile-nav ul.lang-list.extra-langs li.heading {
    border-bottom: 1px solid #d9d9d9;
    padding: 6px 0;
    width: 100%
}
#global-engage-header .mobile-nav ul.lang-list.extra-langs li.heading:after {
    border: none
}
#global-engage-header .mobile-nav .sub-menu {
    position: static;
    padding-top: 0
}
#global-engage-header .mobile-nav .sub-menu ul {
    overflow: hidden;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}
#global-engage-header .mobile-nav .sub-menu ul li:after {
    border-top: 1px solid rgba(255, 255, 255, .2);
    content: "";
    display: block;
    margin-left: 40px
}
#global-engage-header .mobile-nav .sub-menu ul li a {
    padding: 9px 9px 9px 40px;
    line-height: 1em
}
#global-engage-header .mobile-nav .sub-menu ul li a:hover {
    background: #555
}
#global-engage-header .mobile-nav .active>.sub-menu {
    display: block
}
#global-engage-header .mobile-nav .active:after {
    display: none
}
#global-engage-header .mobile-nav .active>a {
    position: relative
}
#global-engage-header .mobile-nav .active>a.nav-item {
    background: #4d4d4d
}
#global-engage-header .mobile-nav .active>a:after {
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    content: "";
    display: block;
    position: absolute;
    width: 240px;
    bottom: 0
}
#global-engage-header .mobile-nav ul.expanded>li>a {
    color: rgba(255, 255, 255, .2)
}
#global-engage-header .mobile-nav ul.expanded>li.active>a {
    color: #fff;
    font-weight: 600
}