<ul class="fix-header-footer unstyled secondary-nav clearfix">

  		<li class=""><a class="" href="${pageContext['request'].contextPath}/search/switchboard"  id="search">${messages['search.menuItem']}</a></li>
  		<li class=""><a class="" href="${pageContext['request'].contextPath}/metadata/switchboard"  id="metadata">${messages['metadata.menuItem']}</a></li>
  		<li class=""><a class="" href="${pageContext['request'].contextPath}/scan/switchboard" id="scan">${messages['scan.menuItem']}</a></li>
	    <li class=""><a class="active" href="${pageContext['request'].contextPath}/process/switchboard"   id="process">${messages['process.menuItem']}</a></li>
	    <li class=""><a class="" href="${pageContext['request'].contextPath}/admin/switchboard" id="admin">${messages['admin.menuItem']}</a></li>
		<li class=""><a class="" href="${pageContext['request'].contextPath}/dashboard/switchboard" id="dashboard">${messages['dashboard.menuItem']}</a></li>
	</ul>
	<div class="app-header">
    <header></header>
</div>